*{
            margin:0;
            padding:0;
            box-sizing: border-box
        }

        html{
            background-color: #fff;
            color: #165;
            font-family:"Lato", Arial, sans-serif;
            font-size: 20px;
            font-weight:300;
            text-rendering: optimizeLegibility;
        }
/*------------------------Header---------------------*/
        header{
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bliss.png);
            background-size:cover;
            background-position: center;
            background-attachment: fixed;
            height:100vh;
        }

        .hero-text-box{
            position: absolute;
            width:95%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }

        .lead{
            color:#fff;
            margin-bottom:50px;
            width:50%;
        }


/*headlines*/
        h1{
            margin-bottom: 30px;
            color: #fff;
            font-size: 240%;
            letter-spacing: 1px;
            word-spacing: 4px;
        }

        h1,h2,h3{
            font-weight: 300;
            text-transform: capitalize;
        }

        h2{
            font-size:180%;
            letter-spacing:1px;
            text-align: center;
            word-spacing: 2px;
            margin-bottom: 30px;
        }

        h3{
            font-size: 110%;
            margin-bottom: 15px
        }

        h4{
            color: #fff;
            font-size: 110%;
            margin-bottom: 55px;
        }

        .btn:link,
        .btn:visited,
        input[type=submit]{
            display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            color:#fff;
            transition: background-color 0.2s,color 0.2s, border-color 0.2s;
        }

        .btn-full:link,
        .btn-full:visited,
        input[type=submit]{
            background-color: #165;
            border: 1px solid #fff;
        }

        .btn-full:hover,
        .btn-full:active,
        input[type=submit]:hover,
        input[type=submit]:hover {
            border: 1px solid #165;
        }

        .btn:hover,
        .btn:active{
            background-color: #165;
        }

        .main-nav{
            list-style: none;
            float: right;
            margin-top: 55px
        }

        .main-nav>li{
            display: inline-block;
            margin-left: 15px;
        }

        .main-nav>li>a:link,
        .main-nav>li>a:visited{
            text-decoration: none;
            color: white;
            text-transform: capitalize;
            border-bottom: 5px solid transparent;
            transition: border-color .4s;
            padding: 8px 0px
        }

        .main-nav>li>a:hover,
        .main-nav>li>a:active{
            border-bottom: 5px solid#165
        }

/*features section open*/

        .long-copy{
            line-height: 145%;
            width: 70%;
            margin-left: 15%
        }

        section{
            
            padding: 80px 0px
        }
        

        h2:after{
            display:block;
            content:"";
            height: 2px;
            background-color: #165;
            width: 100px;
            margin: 30px auto 0px auto;
        }
        
        .box{
            padding: 1%;
            text-align: justify
        }

        .box p{
            font-size: 90%;
            line-height: 145%
        }
/*features section close*/


/*------------------------------------------*/
/* FORMS */
/*------------------------------------------*/

.mc_embed_signup{
    background:#fff;
    clear:left;
    font:20px Lato,Arial,sans-serif;
    width:100%;
}

/*------------------------------------------*/
/* FOOTER
/*------------------------------------------*/

footer{
    background-color: #353636;
    padding: 50px;
    font-size: 90%;
}

.footer-nav{
    list-style: none;
    float: left;
}
.social-icons{
    list-style: none;
    float: right;
}

.footer-nav>li,
.social-icons>li{
    display: inline-block;
    margin-right: 20px;
}



/* social icons to edge of their containing row.*/
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
    transition: 0.2s color;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 170%;
    color: #ddd;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #ddd;
}

.ion-social-twitter:hover {
    color: #ddd;
}

.ion-social-instagram:hover {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
.top{
    position: fixed;
    bottom:0;
    right:0;
    z-index: 300;
}